<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
<%= render 'layouts/nbar' %>

<h1>New Record</h1>
<p>Created new record:<br>
<b>
<%= @record.id %> - <%= @record.content %>
</b>
</p>


</body>
</html>
