<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
<%= render 'layouts/nbar' %>



<h1>Search</h1>
<div class="panel panel-default">
  <div class="panel-body">

  <form accept-charset="UTF-8" action="/app/results" method="get">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search keywords: </span>
      <input name="search" type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
  </form>
  </div>
</div>

</body>
</html>
